#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.card {
  border-radius: 15px;
  background-color: rgb(240, 240, 240);
  padding: 7%;
}

.action-button {
  --border-radius: 20px;
}

hr {
  border: 1px solid lightgray;
  background-color: lightgray;
}
